* {
  box-sizing: border-box;
}
a {
  color: inherit;
}
img {
  max-width: 100%;
  display: block;
}
html {
  scroll-behavior: smooth;
}
body{
  font-family: "League Spartan", sans-serif;
  max-width: 1440px;
  margin-inline: auto;
}
main{
  margin: 72px 24px;
}
@media screen and (width >= 768px){
  main{
    margin: 2.5rem;
  }
}
.intro-and-rating{
  margin-bottom: 3rem;
}
.intro{
  margin-bottom: 2.5rem;
}
@media screen and (width >= 768px){
  .intro{
  width: 27.8125rem;
  }
  .intro-and-rating{
    display: flex;
    justify-content: space-between;
    width: 1110px;
    height: 245px;
  }
}
.title{
  font-size: 2.5rem;
  font-weight: 700;
  color: #512051;
  text-align: center;
  letter-spacing:-0.0894rem;
}
.main-text{
  font-size: 1.1875rem;
  font-weight: 500;
  color: #927B91;
  text-align: center;
  letter-spacing:-0.0394rem;
}
@media screen and (width >= 768px){
  .title ,
  .main-text{
    text-align: left;
  }
}
.rating-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.rating{
  width: 20.4375rem;
  height: 4.875rem;
  border-radius: 0.5rem;
  background-color: #F9E8F8;
  padding: 1rem;
  margin-inline: auto;
}
@media screen and (width >= 768px){
  .rating{
    display: flex;
    width: 27.8125rem;
    height: 3.5rem;
    justify-content: center;
    gap: 1.875rem;
    margin-inline: auto ;
  }
  .rating-container{
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .rating-first{
    position: relative;
    left: -95px;
  }
  .rating-second{
    position: relative;
    left: -47px;
  }
  .stars-container{
    margin-bottom: 0;
  }
  .rating-text{
    margin-top: 2px;
  }
}
.stars-container{
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.star-img{
  width: 1.0344rem;
  height: 0.9856rem;
  margin: 0;
  gap: 0.5rem;
  padding: 0;
}
.rating-text{
  font-size: 1.0625rem;
  font-weight: 700;
  color: #512051;
  text-align: center;
}
.review{
  width: 20.4375rem;
  height: 15.5rem;
  border-radius: 0.5rem;
  background-color: #512051;
  padding: 2rem;
  margin-inline: auto;
  margin-bottom: 16px;
}
@media screen and (width >= 768px){
  .review-container{
    display: flex;
    justify-content: space-between;
    width: 1110px;
  }
  .review{
    width: 21.875rem;
    height: 14.625rem;
  }
  .review-second{
    position: relative;
    top: 1rem;
  }
  .review-third{
    position: relative;
    top: 2rem;
  }
}
.profile{
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}
.profile-img{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}
.profile-name{
  font-size: 1.0625rem;
  font-weight: 700;
  color: #FFFFFF;
  margin: 4px 0;
}
.verified-buyer{
  font-size: 1.0625rem;
  font-weight: 400;
  color: #EE69A4;
}
.review-text{
  font-size: 1.0625rem;
  font-weight: 500;
  color: #FFFFFF;
  letter-spacing:-0.0019rem;
}